/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
  margin: 0;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 1341px;
  height: 170px;
  background: url('images/header.jpg');
  background-repeat: no-repeat;
}

.spots {
  float: left;
  margin-top: 50px;
  width: 266px;
  height: 525px;
  background: url('images/spots.png');
  background-repeat: no-repeat;
  margin-right: 50px;
}
.content-container {
  margin-top: 100px;
  min-width: 500px;
  float: left;
  margin-left: 100px;
}

.good-at {
  margin: 10px;
  font-family: Helvetica;
  color: #a2a3a4;
  font-size: 24px;
  font-weight: 100;
}

.button {
  border-radius: 10px;
  color: #a2a3a4;
  font-family: Helvetica;
  font-size: 20px;
  margin: 10px;
  display: inline-block;

  font-weight: 100;
  width: 200px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #00ad94;

}
.button:hover {
  background-color: #00ad94;
}

.subject-link {
  margin: 10px;
  margin-right: 40px;
  color: #00ad94;
  font-family: Helvetica;
  font-size: 20px;
  display: inline-block;
  font-weight: 100;
}
