/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
  margin: 0;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.header {
  width: 1341px;
  height: 170px;
  background: url('images/header.jpg');
  background-repeat: no-repeat;
}

.spots {
  float: left;
  margin-top: 50px;
  width: 266px;
  height: 525px;
  background: url('images/spots.png');
  background-repeat: no-repeat;
  margin-right: 50px;
}
.content-container {
  min-width: 500px;
  float: left;
  margin-left: 50px;
}
